PATH_DICT=database/microdados_enem_2024/DICIONÁRIO/Dicionário_Microdados_Enem_2024.xlsx
SHEET_NAME=PARTICIPANTES_2024,RESULTADOS_2024
DATA=database/microdados_enem_2024/DADOS/PARTICIPANTES_2024.csv,database/microdados_enem_2024/DADOS/RESULTADOS_2024.csv